label {
  font-family: 'M PLUS Rounded 1c';
  font-weight: 900;
  font-size: 18px;
}

input {
  font-family: 'M PLUS Rounded 1c';
  font-weight: 500;
  font-size: 18px;
}

.calculatorContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid #7EE7FF;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* max-width: 400px; */
  padding: 30px;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.inputLabelContainer {
  background-color: #7EE7FF;
  width: 130px;
}

.inputFieldContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  background-color: yellow;
  /* width: 200px; */

}

.inputField {
 background-color: aquamarine;
 border-radius: 10px;
 border: none;
 height: 36px;
 width: 150px;
}

.buttonContainer {
  /* background-color: pink; */
}

.calculateFeeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7EE7FF;
  border: none;
  width: 100%;
  height: 50px;
  font-family: 'M PLUS Rounded 1c';
  font-weight: 900;
  font-size: 18px;
  color: white;
  border-radius: 30px;
  transition: background-color 0.3s ease; /* Smooth transition for color change */
}

.calculateFeeButton:hover {
  background-color: #4DA8DA; /* Darker blue color on hover */
}






