label {
  font-family: 'M PLUS Rounded 1c';
  font-weight: 900;
  font-size: 18px;
}

input {
  font-family: 'M PLUS Rounded 1c';
  font-weight: 500;
  font-size: 18px;
}

output {
  font-family: 'M PLUS Rounded 1c';
  font-weight: 500;
  font-size: 18px;
}

.calculatorWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid #00C5EA;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* max-width: 400px; */
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.inputWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: pink; */
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.inputLabelContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #7EE7FF; */
  width: 130px;
}

.inputFieldContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  /* background-color: yellow; */
}

.unitContainer {
  width: 0px;
  translate: -50px;
}

.inputField {
 background-color: rgb(233, 233, 233);
 border-radius: 10px;
 padding-left: 10px;
 padding-right: 10px;
 border: none;
 height: 36px;
 width: 170px;
}

.buttonContainer {
  margin-top: 30px;
  margin-bottom: 30px;
}

.calculateFeeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00C5EA;
  border: none;
  width: 100%;
  height: 60px;
  font-family: 'M PLUS Rounded 1c';
  font-weight: 900;
  font-size: 18px;
  color: white;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.calculateFeeButton:hover {
  background-color: #8be9fe; 
}

.calculateFeeButton.disabledButton {
  background-color: white;
  border: 4px solid #00C5EA;
  color: #00C5EA;
  cursor: not-allowed;
}

.resetTimeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 15px;
  background-color: white;
}
 
.resetIcon {
  height: 20px;
}

.resetIcon:hover {
  opacity: 50%;
}

.outputWrapper {
  margin-bottom: 30px;
}

.outputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: pink; */
  margin-top: 10px;
}

.outputLabelContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #7EE7FF; */
}

.outputValueContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aquamarine; */
  width: 180px;
}

.totalPriceOutput {
  font-weight: 900;
}





